@keyframes cardHover{
    from {top: 0;}
    to {top: -10px; box-shadow: 0px 7px 30px #a118d7aa;}
}

@keyframes cardHoverReverse{
    from{top: -10px; box-shadow: 0px 7px 30px #a118d7aa;
    }
    to{top: 0;box-shadow: 0px 7px 30px #a118d700;}
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    height: 21rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 29px;
    padding: 0 1.5rem;

    position: relative;
    animation-name: cardHoverReverse;
    animation-duration: .5s;
}

.card:hover{
    top: -10px;
    box-shadow: 0px 7px 30px #a118d7aa;
    animation-name: cardHover;
    animation-duration: .5s;
}

.card p{
    font-size: 20pt;
    text-align: center;
    color: black;
}

.card img{
    width: 5rem;
}