:root{
  --dark-gray: #313131;
  --primary-purple: #A118D7;
  --primary-green: ##91FA80;

  --text-h1: .8rem;
}

@font-face {
  font-family: Buenard;
  src: url('https://fonts.cdnfonts.com/css/buenard');
}
@font-face {
  font-family: Roboto;
  src: url('https://fonts.cdnfonts.com/css/roboto');
}

* , body{
  padding: 0;
  margin: 0;
  font-family: Buenard;
  box-sizing: border-box;
}
