@keyframes menuHover{
    from {width: 0; left: 50%;}
    to {width: 100%; left: 0;}
}

@keyframes reverseMenuHover{
    from {width: 100%; left: 0;}
    to {width: 0; left: 50%;}
}

@keyframes menuHoverCurrent{
    from {width: 100%; left: 0;}
    to {width: 100%; left: 0;}
}

@font-face{
    font-family: Buenard;
    src: url('./fonts/Buenard/Buenard-Regular.ttf');
}

@font-face{
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

.header_7, .header_5{
    background: #313131;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10rem;
    margin-bottom: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    position: fixed;
    z-index: 50;
    top: 0;
}

.header_7{
    height: 7rem;
}

.header_5{
    height: 5rem;
}

.header_7 ul,
.header_5 ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    color: white;
    font-family: Roboto;
}

.header_7 li, 
.header_5 li{
    padding: 0 1.5rem;
    cursor: pointer;
}

.header_7 li a, 
.header_5 li a{
    color: white;
    text-decoration: none;
}

.header_7 ul li:after,
.header_5 ul li:after{
    content: "";
    left: 0;
    display: flex;
    position: relative;
    width: 0;
    height: .3rem;
    background-color: #4B218E;
    top: 6px;
    animation-name: reverseMenuHover;
    animation-duration: .3s;
    border-radius: 50vh 50vh;
}

.header_7 ul li.current:after,
.header_5 ul li.current:after{
    width: 100%;
    animation-name: menuHoverCurrent;
}

.header_7 ul li:hover:after,
.header_5 ul li:hover:after{
    width: 100%;
    animation-name: menuHover;
    animation-duration: .3s;
}

.header_7::after,
.header_5::after{
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: .4rem;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #4B218E, #A118D7);
}